header {
    background-color: #006600;
    width: 100%;
    height: 150px;
}

footer {
    background-color: #006600;
    width: 100%;
    height: 150px;
}
body {
    background-color: #00CC00
}
table {
    border 5px;
    border-color: #FF66FF;
    width: 500px;
    height: 500px;
}
table.main {
    border: 2px solid #000;
}
table.main td {
    border: 2px solid #a6aac6;
}
td{
    background-color:  #006633;
    
}
#cela {
    background-color: #6699FF;
    width: 100px;
    height: 100px;
   }
   #celc {
    background-color: #FFCCCC;
    width: 100px;
    height: 100px;
   }
   #cele {
    background-color: #99CCFF;
    width: 100px;
    height: 100px;
   }
   
   #celg {
    background-color: #FFCC33;
    width: 100px;
    height: 100px;
   }
   #celi {
    background-color: #CCCCCC;
    width: 100px;
    height: 100px;
   }
   #celk {
    background-color: #CC3399;
    width: 100px;
    height: 100px;
   }

#celm {
    background-color: #FF0000;
    width: 100px;
    height: 100px;
   }
   #celo {
    background-color: #999966;
   }
   #celb {
    background: url(afbeeldingen/streetart.jpg) ;
    width: 100px;
    height: 100px;
   }
   #celd {
    background: url(afbeeldingen/streetart2.jpg) ;
    width: 100px;
    height: 100px;
   }
   #celf {
    background: url(afbeeldingen/streetart3.jpg) ;
    width: 100px;
    height: 100px;
   }
   #celh {
    background: url(afbeeldingen/streetart4.jpg) ;
    width: 100px;
    height: 100px;
   }
   #celj {
    background: url(afbeeldingen/streetart5.jpg) ;
    width: 100px;
    height: 100px;
   }
   #cell {background: url(afbeeldingen/streetart6.jpg) ;
   width: 100px;
   height: 100px;
   }
   #celn {
    background: url(afbeeldingen/streetart7.jpg) ;
    width: 100px;
    height: 100px;
   }
   #celp {
    background: url(afbeeldingen/streetart8.jpg) ;
    width: 100px;
    height: 100px;
   }